/Extensibility/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/tools/net45/uninstall.ps1
/Extensibility/packages/*
/packages/
/6AuthorizationFilter/bin/
/5_ActionMethodSelectorAttribute/bin/
